html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0px;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body{
  background: green;
}

.wrapper{
 border: 10px solid yellow;
 color: black;
 font-size: 20px;
 width: 1200px;
 margin: 25px auto; 
 font-weight: 400;
 text-align: center;
 line-height: 32px;
 padding: 30px;
 font-family: Georgia, 'Times New Roman', Times, serif;
}

ul{
  text-align: center;
  font-size: 0;
  position: relative;
  z-index: 5;
  padding: 30px;
}
ul li{
  display: inline-block;
  background: yellow;
  position: relative;
}
ul a{
  color: green;
  font-size: 25px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px 50px;
  display: block;
  width: 140px;
}
ul li:hover{
  background: lightseagreen;
}

ul li a:hover{
  color: red;
}

ul li+li{
  border-left: 1px solid lightgreen;
}

ul ul li{
  border-left: 0;
}

ul ul li+li{
  border-top: 1px solid lightgreen;
}

.main-menu .block-list{
  position: absolute;
  top: calc(100% - 10px);
  left: 0;
  padding: 10px 0 0;
  opacity: 0;
  transition: top 0.75s cubic-bezier(0.83, 0.51, 0.82, 0.96), opacity 0.25s ease-in;
  pointer-events: none;
}

.main-menu li:hover > .block-list{
  opacity: 1;
  top: 100%;
  pointer-events: all;
}

.float-menu-item ul {
  position: absolute;
  right: 120%;
  bottom: 0;
  padding: 0 10px 0;
  opacity: 0;
  transition: right 0.75s cubic-bezier(0.94, 0.22, 0.09, 1.51), opacity 0.25s ease-in;
  pointer-events: none;
}

.float-menu-item:hover ul {
  right: 100%;
  opacity: 1;
  pointer-events: all;
}

.grid-menu-item ul {
  position: absolute;
  left: 120%;
  top: 0;
  padding: 0 10px 0;
  opacity: 0;
  transition: left 0.75s cubic-bezier(0.94, 0.22, 0.09, 1.51), opacity 0.25s ease-in;
  pointer-events: none;
}

.grid-menu-item:hover ul {
  left: 100%;
  opacity: 1;
  pointer-events: all;

}



.main-menu > li > a > .icon {
  background-image: url('../images/sprite-icon-4.jpg');
  background-size: 400px ;
  min-width: 25px;
  height: 25px;
  display: block;
  margin-right: 10px;
}

.main-menu > li > a {
  display: flex;
}

.main-menu > li:nth-child(1) > a > .icon {
  background-position: 0 200px;
}

.main-menu > li:nth-child(2) > a > .icon {
  background-position: 75px 175px;
}

.main-menu > li:nth-child(3) > a > .icon {
  background-position: 0 0;
}

.main-menu > li:nth-child(3):hover > a > .icon {
  background-position: 300px 0;
}

.main-menu .block-list > li > a > .icon {
  background-image: url('../images/sprite-icon-4.jpg');
  background-size: 400px ;
  min-width: 25px;
  height: 25px;
  display: block;
}

.main-menu .block-list > li > a {
  display: flex;
}

.main-menu .block-list > li:nth-child(3) > a {
  padding-left: 15px;
  width: 175px;
}

.main-menu .block-list > li:nth-child(3) > a > .icon {
  background-position: 250px 0;
  margin-right: 10px;
}

.main-menu .block-list > li:nth-child(3):hover > a > .icon {
  background-position: 350px 0;
}

.main-menu .block-list > li:nth-child(5) > a {
  padding-right: 15px;
  width: 175px;
}

.main-menu .block-list > li:nth-child(5) > a > .icon {
  background-position: 350px 0;
  margin-left: 10px;
}

.main-menu .block-list > li:nth-child(5):hover > a > .icon {
  background-position: 250px 0;
}


h1{
  color: yellowgreen; 
  font-size: 48px;
} 
     
h2,h3,h4,h5{
  color: purple;
} 

p{
  color:red
}

.otherHead {color:blue}
 
img{
  padding: 0px;
}
 

.col-1-2 {
  width: 50%;
}
.col-1-3 {
  width: 33.3%;
}
.col-2-3 {
  width: 66.6%;
}
.line-3-3 {
  line-height: 240px;
}
.line-2-3 {
  line-height: 160px;
}
.line-1_5-3 {
  line-height: 120px;
}
.line-1-3 {
  line-height: 80px;
}


.table {
  display: table;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
.table-row {
  display: table-row;
  outline: 1px solid red;
}
.table-cell {
  display: table-cell;
  outline: 1px solid red;
  vertical-align: middle;
  text-align: center;
}


.block-wrap-fix {
  font-size: 0;
  margin: auto;
}
.block {
  white-space: nowrap;
  outline: 1px solid red;
  text-align: center;
  max-width: 1200px;
}
.inline-block {
  display: inline-block;
  outline: 1px solid red;
  vertical-align: middle;
  font-size: 14px;
}

.float{
  padding: 30px 0;
}
.l_float{
  background: orange;
  outline: 2px solid pink;
  float: left;
}
.clear_l{
  clear: left;
}

.flex{
  display: flex;
}
.flex>div,.flex>div>div,.grid>div,.grid>div>div{
  outline: 2px solid red;
}
.in_flex1{
  flex: 0 1 400px;
}
.in_flex2{
  flex: 0 1 800px;
}
.in_flex3{
  flex: 0 1 600px;
}
.in_flex4{
  flex: 1 0 300px;
}

.grid{
  display: grid;
  outline: 2px solid red;  
}
.g1{
  grid-template-columns: repeat(3, 1fr);
}
.g2{
  grid-template-columns: 800px 400px;
}
.g3{
  grid-template-columns: repeat(2, 1fr);
}

.gb-1{
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
  'A B C';
}
.b1{
  grid-area: A;
}
.b2{
  grid-area: B;
}
.b3{
  grid-area: C;
}
.gb-2{
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
  'D E'
  'D F'
  'G H';
}
.b4{
  grid-area: D;
}
.b5{
  grid-area: G;
}
.b6{
  grid-area: E;
}
.b7{
  grid-area: F;
}
.b8{
  grid-area: H;
}.gb-3{
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
  'I I J J'
  'I I J J'
  'K L J J';
}
.b9{
  grid-area: I;
}
.b10{
  grid-area: K;
}
.b11{
  grid-area: L;
}
.b12{
  grid-area: J;
}
.gb-4{
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
  'M M N'
  'O P N'
  'O Q N';
}   
.b13{
  grid-area: M;
}
.b14{
  grid-area: O;
}
.b15{
  grid-area: P;
}
.b16{
  grid-area: Q;
}
.b17{
  grid-area: N;
}
.b18{
  grid-area: R;
}
.areas{
  grid-template-columns: 300px 100px 200px 200px 400px;
  grid-template-rows: repeat(10, auto);
  grid-template-areas:
  'A A B B C'
  'D D D D E'
  'D D D D F'
  'G G G G H'
  'I I I J J'
  'K L L J J'
  'M M M M N'
  'O O P P N'
  'O O Q Q N'
  'R R R R R';
}

.foto{
  display: inline-block;
  position: relative;
}
.centr{
  height: 30px;
  background: white;
  text-align: center;
  position: absolute;
  top: 50%;
  margin: -15px 0 0 0;
  display: block;
  left: 0;
  right: 0;
}
.links{
  position: fixed;
    left: 0;
    top: 50%;
}

.socials{
  display: flex;
  width: 350px;
}

.socials > li > a {
  background-size: 350px 100px;
  background-image: url('../images/sprites2.png');
  width: 50px;
  height: 50px;
  padding: 0;
}

.socials > li:nth-child(1) > a {
  background-position: 0 50px;
}

.socials > li:nth-child(2) > a {
  background-position: 50px 50px;
}

.socials > li:nth-child(3) > a {
  background-position: 100px 50px;
}

.socials > li:nth-child(4) > a {
  background-position: 150px 50px;
}

.socials > li:nth-child(5) > a {
  background-position: 200px 50px;
}

.socials > li:nth-child(6) > a {
  background-position: 250px 50px;
}

.socials > li:nth-child(7) > a {
  background-position: 300px 50px;
}